*{
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar{
    display: flex;
    height: 60px;
    background-color: #0f1111;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 120px;
    
}
.logo{
    background-image: url("../images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 120px;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1px solid #fff;
}
/**box-2**/
.add-first{
    color: #ccc;
    font-size: 0.85rem;
    margin-left: 15px;
   
}

.add-second{
color: #fff;
font-size: 1rem;
margin-left: 3px;

}

.add-icon{
    display: flex;
    align-items: center;
    
}
/**box-3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #d84990;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50px;
    text-align: center;
    border: none;
}

.search-input{
   
   font-size: 1rem;
    width: 100%;
    text-align: left;
    border: none;
}

.search-icon{
    background-color: #febd68;
    display: flex;
    width: 45px;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #000;
}
/** box 4**/
.lang-select{
    background-color: #0f1111;
    color: #fff;
    border: none;
    font-size: 15px;
}

/**box 5 and box 6**/
span{
    font-size: 0.7rem ;
}

.nav-second{
    font-size: 0.9rem;
    font-weight: 800;
}

/**box 7**/
.nav-cart i{
    font-size: 35px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/** panel**/
.panel{
    display: flex;
    background-color: #222f3d;
    height: 40px;
    color: #fff;
    align-items: center;
    justify-content: left;
}

.panel-all{
    line-height: 40px;
    align-items: left;
    width: 50px;
    height: 40px;
}

.panel-ops{
    display: flex;
}

.panel-list{
    margin-left: 10px;
}

/**main**/
/**hero section**/
.hero-sec{
    background-image: url("../images/hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-mess{
    background-color: #fff;
    color: #000;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
}

.hero-mess a{
    color: #007185;
}

/**categories**/
.categories{
    display: flex;
   justify-content: space-evenly ;
   background-color: #9aafb2;
}

.box{
    border: 2px solid #000;
    width: 23%;
    height: 400px;
    margin: 10px;
    background-color: #f3f3f3;
}

/** footer **/
.footer{
    height: 50px;
    width: auto;
    background-color: #042647;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    font-weight: lighter;
}

.details{
    display: flex;

}
.details-box{
    background-color: #232f3e;
    color: #fff;
    height: 400px;
    width: 25%;
    text-align: center;
}
.details-box{
    line-height: 23px;
    text-align: left;
}
.heading{
    line-height: 150px;
    font-size: 18px;
    font-weight: bold;
}

.sub-details{
    font-size: 14px;
    font-weight: 100;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/** india**/
.india{
    display: flex;
    background-color: #232f3e;
    width: auto;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #3a4553;
}
.base{
    display: flex; 
    color: #999999; 
    border: 1px solid white; 
    padding: 5px;
    margin-left: 50px;
    border-radius: 3px; 
    width: 100px;
    font-size: 12px;
}
.base-logo{
    background-image: url("../images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 120px;
   
}
/**amazon-sub**/
.amazon-sub{
    box-sizing: border-box;
    background-color: #131a22;
    height: 200px;
    width: auto;
    
}

.sub-box{
    width: 150px;
}
.first-box{
    display: flex;
    height: 80px;
    padding-top: 30px;
    margin-left: 200px;
}

.second-box{
    display: flex;
    height: 80px;
    margin-left: 200px;
    padding-bottom: 30px;
}
.heading-sub{
    color: #dddddd;
    font-size: 12px;
    font-weight: bold;
}

.list-sub{
    color: #999999;
    font-size: 12px;
}

.space{
    width: 40px;
    height: 50px;
}
/** condition box**/
.condition{
    background-color: #131a22;
    height: 30px;
    width: auto;
    padding: 25px;
}

.first-line{
    display: flex;
    color: #fff;
    justify-content: center;
    font-size: 0.85rem;
}

.second-line{
    padding: 5px;
    text-align:  center;
    color: #fff;
    font-size: 0.85rem;
}

